<div class="side_bar">
  <div class = "header_side">
    <div class = "user_name">
      <%= link_to current_user.name, edit_user_path(current_user), class: 'user_name_btn' %>
    </div>
    <div class = "create_chat_room">
      <%= link_to "チャットを作成する", new_room_path, class: 'create_chat_room_btn' %>
    </div>
  </div>
  <div class = "side_area">
    <% current_user.rooms.each do |room| %>
    <div class="room">
      <div class="room_name">
        <%= link_to room.name, room_messages_path(room), class: 'room_name_btn' %>
      </div>
    </div>
  <% end %>
  </div>
</div>